apiVersion: v1
kind: Secret
metadata:
  name: keycloak-admin
  namespace: socialbook
type: Opaque
stringData:
  username: admin
  password: change-me
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: socialbook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:24.0.4
          args:
            - start-dev
          env:
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin
                  key: username
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin
                  key: password
            - name: KC_HOSTNAME
              value: keycloak.46-62-130-16.nip.io
            - name: KC_PROXY
              value: edge
            - name: KC_HOSTNAME_STRICT
              value: "false"
          ports:
            - containerPort: 8080
