replicaCount: 1

image:
  repository: "docker.io/alazar111/socialbook-frontend"
  tag: "0.1.0"
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: "socialbook-frontend"
fullnameOverride: "socialbook-frontend"

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

service:
  type: ClusterIP
  port: 80

containerPort: 80

# Optional env vars (e.g., Vite base path), usually baked into build
env: []

resources: {}
  # limits:
  #   cpu: 200m
  #   memory: 256Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: null

ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: socialbook-frontend.46-62-130-16.nip.io
      paths:
        - path: /
          pathType: Prefix
  tls: []

nodeSelector: {}
tolerations: []
affinity: {}
