replicaCount: 1

image:
  repository: "docker.io/alazar111/socialbook-backend"
  tag: "0.1.0"
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: "socialbook-backend"
fullnameOverride: "socialbook-backend"

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

service:
  type: ClusterIP
  port: 80

containerPort: 5000

env:
  - name: PORT
    value: "5000"

secretEnvs:
  - name: MONGODB_URI
    secretName: socialbook-env
    secretKey: MONGODB_URI
  - name: MONGODB_DB
    secretName: socialbook-env
    secretKey: MONGODB_DB

resources: {}
  # limits:
  #   cpu: 200m
  #   memory: 256Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: null

ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: socialbook-backend.46-62-130-16.nip.io
      paths:
        - path: /
          pathType: Prefix
  tls: []

nodeSelector: {}
tolerations: []
affinity: {}
